/** Topmenu Style **/

.asd {
  margin-left: 57px;
  color: #FEFEFE;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200px;
  display: flex;
  list-style: none;
}

.asd a {
  color: #FEFEFE;
}

.nav-link-1 { 
  background-color: #FFD55A;
  color: #FEFEFE;
  margin-right: 28px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.nav-link-2 { 
  background-color: none;
  color: #FFD55A;
  margin-right: 76px;
  border-radius: 6px;
  border: 1px solid #FFD55A;
  font-size: 20px;
  font-weight: 700px;
  font-family: 'Poppins', sans-serif;
}

.topmenu {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0, 0, 0);
    width: 1383px;
    height: 110px;
    position: static;
    padding: 20px;
    border-radius: 75px;
    box-shadow:#000000;
    z-index: 10;
    margin-bottom: 40px;
  }

  
  
  .topmenu a {
    color: #FEFEFE;
    margin-top: 5px;
    float: left;
    transition: 0.2s;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
  
  .asd a:hover {
    color: #FFD55A;
    transition: 0.2s;
  }
  
  .topmenu .icon {
    display: none;
  }
  
  .contact {
    margin-right: 100px;
  }
  
  .active {
    margin-right: 10px;
  }

  .card-body {
  justify-content: flex-end; 
  margin-left: -180px; 
  background-color: black; 
  color: white; 
  width: 100%; 
  padding: 40px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
}

  .row.mb-3 {
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  
  }

  .tt-title {
    text-align: center; 
    color: white; 
    font-size: 25px;
    font-weight: bold;
    font-family: "poppins", sans-serif; 
}
.tt-description{
  text-align: center;
    color: white; 
    font-size: 19px;  
    font-family: "poppins", sans-serif; 

}

.col-md-6 label[for="name"] {
  width: 300px; /* Sesuaikan lebar sesuai dengan kebutuhan Anda */
}

p a.tt-underline {
  color: white;
  text-decoration: underline; 
  font-family: "poppins", sans-serif; 
}


p {
  text-align: center;
  color: white;
  font-size: 18px;  
  font-family: "poppins", sans-serif; 
}


.custom-margin {
  margin-bottom: 30px; 
}
.row.mb-0 button {
  background-color: #FFD55A;
  width: 100%;
  padding: 10px 20px;
  color: white;
  border: none; 
  border-radius: 5px; 
  font-size: 20px; 
  font-weight: bold; 
  cursor: pointer; 
}
.row{
  color: white; 
  font-size: 17px; 
}
.btn-outline{
  color: white; 
  font-size: 20px; 
  font-weight: bold; 
}
.title{
  font-size: 18px;  
  font-family: "poppins", sans-serif; 
}
 
  
  /**** Media Queries ***/
  