:root {
    --light-color: #FFFFFF;
    --grey-color: #B6B6B6;
    --main-color: #FFD55A;
    --dark-color: #000000;
    --font: 'Poppins', sans-serif;
}

input[type=email]::placeholder {
    text-align: left;
    color: var(--grey-color);
    font-size: 15px;
    line-height: normal;
}
input[type=password]::placeholder {
    text-align: left;
    color: var(--grey-color);
    font-size: 15px;
    line-height: normal;
}
input[type=name]::placeholder {
    color: var(--grey-color);
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-align: left;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + .optiony::before {
    background-color: var(--light-color);
}

input[type=radio]:checked + .optiony {
    background-color: var(--light-color);
    color: var(--main-color);
    transition: 0.3s;
}
input[type=radio]:hover + .optiony {
    background-color: var(--light-color);
    color: var(--main-color);
    transition: 0.3s;
}

.container{
  padding-top: 50px;
}

.imglogin {
    width: 100px;
    height: 100px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 27px;
  }
  .returnx{
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
  }
  .logintxt {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: var(--light-color);
    margin-top: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .formx{
    width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
  }
  
  .imgloginx{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 27px;
  }
  .btnlogin{
    width: 100%;
    margin-top: 28px;
    background-color: var(--main-color);
    border: none;
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
  }

   

 